* {
    margin: auto;
    box-sizing: border-box;
}

body {
    background-image: url('./styles/static/free-weights-gym-equipment.jpg');
    background-repeat: no-repeat,
        repeat;
    background-color: #25657c;
    background-blend-mode: lighten;
    padding: 10px;
    margin: 50px;
}

.container {
    /* display: grid; */
      display: inline-grid;
    opacity: 95%;
    /* grid-gap: 5px 5px; */
}

#main-container {
    padding: 250px;
    margin: 500px;
    height: auto;
    width: auto;
    background: rgb(44, 22, 66);
    opacity: 95%;
    /* grid-gap: 50px; */
}

.btns-all {
    border-radius: 8px;
    font-size: 13px;
    background-color: #4c9baf;
    color: rgb(87, 31, 40);
    opacity: 0.9;
}

#btn-toggle-forms {
    height: 15px;
    width: 100px;
}

.all-routines {
    padding: 15px;
    margin: auto;
    height: auto;
    width: auto;
    padding-top: 30px;
    padding-bottom: 5px;
}

.all-routine-edit-btns {
    font-size: 13px;
}

.routine-names {
    /* color: rgba(222, 73, 85, 0.49); */
    color: rgb(55, 167, 204);
    font-size: 20px;
}

.routine-name-btns-wrapper {
    background-color: rgb(10, 25, 43);
    display: flex;
    padding: 1;
    grid-column-gap: 1em;
    opacity: 70%;
}

.routine-workout-block {
    grid-template-columns: 25% 10px 10px auto;
    grid-template-rows: 25% auto;
}

.all-routine-workouts {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 1;
    border: 2px solid pink;
    border-radius: 5px;
    padding: 5px;
    
}


#routines-container {
    background: rgb(45, 59, 87)
}


input {
    /* font-size: 1.0em; */
    /* background-color: #b4b1b1a3; */
       background: #b9aaaa61;
    /* background-color: #8c8c8c; */
    /* background-color: #acbbe7b0; */
        /* background: #c71f49; */
    /* width: 50%; */
    /* padding: 12px 20px; */
    /* margin: 8px 0; */
    /* box-sizing: border-box; */
    
      /* width: 50%; */
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: black;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: black;
}

.hidden {
    display: none;
}

.shown {
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.87;
}

.delete-workout-link {
    color: red;
}

.workout-list {
    background-color: #25657c;
}

#new-routine-container {
    background-color: rgb(44, 22, 66);
}

#new-routine-form>label {
    /* color: rgb(139, 139, 89); */
    /* color: darkmagenta; */
    color: rgba(139, 0, 139, 0.685);
    /* color: rgba(238, 69, 196, 0.452);; */
}

#new-routine-form {
    /* text-align: center; */
    display: grid;
    grid-template-columns: auto 180px auto;
}

.input-text {
    background-color: #25657c;
    color: rgb(87, 31, 40);
}

#app-title {
    color: rgb(55, 167, 204);
    font-size: 30px;
    /* position: center; */
    text-align: center
}

.edit-forms {
    padding: 10px;
    border: 2px dotted rgb(27, 44, 27);
    border-radius: 5px;
}

.edit-btns { 
  /* background-color: #008bbaa7; Green */
  /* background-color: #05728ac4; Green */
  background-color: #1495b2cb; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  padding: 10px 24px;
  border-radius: 12px;
  /* transition-duration: 0.4s; */
  transition: background 0.4s ease-in-out;
  /* box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19); */
}

.edit-btns:hover {
    background-color: #0abee7db; /* Green */
  /* background-color: #05728ac4; Green */
  /* background-color: #36c4b6c4; Green */
  /* background-color: #96a3965a; Green */
  color: white;
}


.delete-btns { 
  background-color: #be615ab8;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  padding: 10px 24px;
  border-radius: 12px;
  transition-duration: 0.4s;
  transition: background 0.4s ease-in-out;
  /* opacity: .75; */
  /* box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19); */
}

.delete-btns:hover {
  /* background-color: #ff291aa9; */
  /* background-color: #d11e12b3;*/
  background-color: #f2483cc4;
  color: white;
  opacity: 1
}


.submit-btns { 
  /* background-color: #77d78fbc; */
  background-color: rgba(139, 0, 139, 0.507);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  padding: 10px 24px;
  border-radius: 12px;
  transition-duration: 0.4s;
  transition: background 0.4s ease-in-out;
  /* box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19); */
}

.submit-btns:hover {
  background-color: rgba(204, 7, 204, 0.616);

  /* background-color: #41f26dcb; */
  /* background-color: #d11e12b3; */
  color: white;
}


.floating-nav-btns { 
  /* background-color: #d7ca779c; */
  /* background-color: #f4e1d2; */
  /* background-color: #618685; */
  background-color: #a27ec6e4;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  padding: 10px 24px;
  border-radius: 12px;
  transition-duration: 0.4s;
  transition: background 0.4s ease-in-out;
  /* box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19); */
}



.floating-nav-btns:hover {
  /* background-color: #f7e255a9; */
  /* background-color: #43bcb8da; */
  background-color: #b076eb;
  /* background-color: #d11e12b3; */
  color: white;
}

.routine-workout-name-block{
    /* grid:  ; */
      float: center;
  width: 33.33%;
  /* height: 25%; */
  padding: 10px;
  margin: 5px;
  text-align: center;
}

.delete-workout{
    /* position: relative; */
    float: center;
  /* right: 190px; */
    /* center: 0px; */
    /* width: 300px; */
  /* border: 3px solid #73AD21; */
  /* padding: 10px; */
}

.workout-page-floating-links{
    display: grid;
    grid-template-columns: 40px 240px auto;

    /* grid-column-gap: 50px; */
      /* grid-gap: 50px 100px; */

    /* padding: 10px; */
    /* margin: 200px; */

    /* width: 25%;
  float: left; */
}

.routine-detail-page{
    display: grid;
    /* grid-template-columns: 80px 240px auto 40px; */
    /* padding: 30px;
    margin: 50px; */
    position: relative;
  }

    #update-routine-form{
    /* position: relative; */
    /* display: grid; */
    /* grid-template-columns: 10px 220px 220px; */
}

#new-routine-workout-form {
    /* text-align: center; */
    display: grid;
    grid-template-columns: auto 170px auto 170px auto 170px auto 170px 130px;
}

#update-workout-form {
    /* text-align: center; */
    display: grid;
    grid-template-columns: auto 170px auto 170px auto 170px auto 170px 130px;
}